<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>  
      <ion-title> Tickets </ion-title>

      <ion-buttons slot="end">
        <ion-button  (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
    </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row *ngIf="filteredTickets?.length > 0">
      <ion-col size-sm="12" size-md="6" size-lg="4" offset-md="3" offset-lg="4">
        <app-search-and-filter></app-search-and-filter>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="filteredTickets?.length <= 0 || filteredTickets===undefined || filteredTickets===null">
      <ion-col size-md="8" size-sm="12" size-xs="12" offset-md="2" offset-sm="0" offset-xs="0">
        <ion-card color="warning">
          <ion-card-header>
            <ion-card-title>
              No tickets are present at the moment
            </ion-card-title>
            <ion-label>Please add some tickets</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="filteredTickets?.length > 0">
      <ion-col size-sm="12" size-md="6" size-lg="3" *ngFor="let ticket of filteredTickets" >
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>{{ticket.title}}
              <!-- <div> -->
                <!-- {{ticket.status}} -->
              <!-- </div> -->
            </ion-card-title>
            <ion-card-subtitle>{{ticket.createdBy}} | {{ticket.project?.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{getShortDesc(ticket.description)}}</ion-card-subtitle>

            <ion-card-subtitle>{{ticket.createdOn | timeAgo}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-buttons>
              <ion-button fill="outline" color="light" (click)="deleteTicket(ticket.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
              <ion-button fill="outline" color="light" (click)="showAddDevelopers($event, ticket)">
                <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>              
              </ion-button>
              <ion-button fill="outline" color="light" routerLink="/ticket/{{ticket.id}}">
                <ion-icon slot="icon-only" name="enter-outline" ></ion-icon>              
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button (click)="presentModal()" color="tertiary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


