<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>  
      <ion-title> Tickets </ion-title>

      <ion-buttons slot="secondary">
        <app-search-and-filter></app-search-and-filter>
        <!-- <ion-chip>
          <ion-label for="checkBox">Created by me</ion-label>
          <ion-checkbox  id="checkBox" slot="start" #check (click)="seeStatus(check)"></ion-checkbox>
      </ion-chip> -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- <ion-row class="ion-padding">
      <ion-col size="3">
        <app-search-and-filter></app-search-and-filter>
      </ion-col>
      <ion-col size="2" class="ion-align-item-center">
        <ion-button shape="round" fill="outline" strong="true">
          <ion-item>
          <ion-label for="checkBox">Created by me</ion-label>
          <ion-checkbox  id="checkBox" slot="start" #check (click)="seeStatus(check)"></ion-checkbox>
        </ion-item>
      </ion-button>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="3" *ngFor="let ticket of filteredTickets" >
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>{{ticket.title}}
              <!-- <div> -->
                <!-- {{ticket.status}} -->
              <!-- </div> -->
            </ion-card-title>
            <ion-card-subtitle>{{ticket.createdBy}} | {{ticket.project?.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{getShortDesc(ticket.description)}}</ion-card-subtitle>

            <ion-card-subtitle>{{ticket.createdOn | timeAgo}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-buttons>
              <ion-button fill="outline" color="light" (click)="deleteTicket(ticket.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
              <ion-button fill="outline" color="light" (click)="showAddDevelopers($event, ticket)">
                <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>              
              </ion-button>
              <ion-button fill="outline" color="light" routerLink="/ticket/{{ticket.id}}">
                <ion-icon slot="icon-only" name="enter-outline" ></ion-icon>              
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


