<ion-content>
<ion-list lines="inset" style="overflow: scroll;">
  <ion-item *ngFor="let developer of developers">
    <ion-avatar slot="start">
      <img src="./assets/icon/avatars/{{developer.avatar}}.png">
    </ion-avatar>
    <ion-label>
      <h2>{{developer.name}}</h2>
      <h3>{{developer.title}}</h3>
    </ion-label>
    <ion-button fill="none" (click)="addDeveloperToTicket(developer)" [disabled]="isDeveloperPresent(developer)">
      <ion-icon *ngIf="!isDeveloperPresent(developer)"  color="primary" size="large" name="add-circle-outline"></ion-icon>
      <ion-icon *ngIf="isDeveloperPresent(developer)"  color="primary" size="large" name="checkmark-circle-outline"></ion-icon>
  </ion-button>
  </ion-item>
</ion-list>
</ion-content>
